#channels-component {
  display: flex;
  color: #D1D2D3B3;
  width: 100%;
}

#channel-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  /* background-color: blue; */
}

#channel-list li {
  /* border: 5px solid blue; */
  display: flex;
}

#channel-list li:hover {
  background-color: #d1d2d380;
  color: #fff;
}

.split {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 1000px;
}

.gutter {
  background-color: #2B2A30;
  background-repeat: no-repeat;
  background-position: 50%;
  size: 1000px;
}

.gutter:hover {
  background-color: #1164A3;
  border: 2px solid #1164A3;
}

.gutter.gutter-horizontal {
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
  cursor: col-resize;
}

#other-component {
  background-color: #1B1D21;
}

i {
  color: #D1D2D3B3;
  padding-left: 35px;
  padding-top: 10px;
}

i span {
  font-family: sans-serif;
  padding-left: 8px;
}

#drop-button {
  background-color: transparent;
  border: none;
}

.fa-caret-right{
 color: white;
}


#channels-h5-down {
  color: #D1D2D3B3;
}

#channels-h5-right{
  color: white;
}








