#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

#modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: green;
}

#modal-content {
  position: absolute;
  background-color: blue;
}
