#nav-bar-container {
  display: flex;
  width: 100%;
  background-color: #131017;
  align-items:center;
  justify-content:space-between;
  height: 44px;
  position: fixed;
  z-index: 10;
}

#clock {
  width: 20px;
  height: 20px;
  align-self:center;
  padding-left:20px;
  /* display: flex; */
}

.icon-holder {
  display: flex;
  /* align-items: center; */
  /* justify-content:  center; */
  /* height: 30px; */
}

#center-nav {
  width: 50%;
  height: 24px;
}

#search-bar {
  width: 100%;
  background-color: #38373C;
  border-radius: 6px;
  height: 20px;
  border: 1px solid #515055;
  color: #d1d2d3;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
  white-space: nowrap;
  /* box-shadow: 0 0 0 1px var(--saf-0),0 1px 3px 0 #00000014; */
}

#search-bar:hover {
  border: 1px solid #8d8b8f;
}

#right-nav {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

#logout {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

/* #logout button {
  font-size: 12px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
} */


#logout-button {
  background-color:rgb(116, 113, 158);
  /* border: 2px solid palevioletred; */
  width: 26px;
  height: 26px;
  border-radius: 14%;
  font-family: Times, 'Times New Roman';
  color:#D1D2D3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:;
}
