#nav-bar-container {
  display: flex;
  width: 100%;
  background-color: #131017;
  align-items:center;
  justify-content:space-between;
  height: 44px;
  position: fixed;
  z-index: 10;
}

#clock {
  width: 20px;
  height: 20px;
  align-self:center;
  padding-left:20px;
  /* display: flex; */
}

.icon-holder {
  display: flex;
  /* align-items: center; */
  /* justify-content:  center; */
  /* height: 30px; */
}

#center-nav {
  width: 50%;
  height: 24px;
}

#search-bar {
  width: 100%;
  background-color: #38373C;
  border-radius: 6px;
  height: 20px;
  border: 1px solid #515055;
  color: #d1d2d3;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
  white-space: nowrap;
  /* box-shadow: 0 0 0 1px var(--saf-0),0 1px 3px 0 #00000014; */
}

#search-bar:hover {
  border: 1px solid #8d8b8f;
}

#right-nav {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

#logout {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}


#logout-button {
  background-color:rgb(70, 86, 97);
  /* border: 2px solid palevioletred; */
  width: 26px;
  height: 26px;
  border-radius: 15%;
  /* font-family: Times, 'Times New Roman'; */
  color:#D1D2D3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.availability-circle {
  background-color: #039d74;
  z-index: 10000000;
  position: absolute;
  height: 8px;
  width: 8px;
  transform: translateY(12px);
  margin-left: 19px;
  border-radius: 100%;
  border: 3px solid #131017;
}

#availability-status {
  display: flex;
  /* background-color: green; */
  justify-items: center;
  align-items: center;
  width: 100%;
  font-weight: lighter;
}

#profile-avail {
  background-color: #038864;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 15px;
}

#local-time {
  font-weight: lighter;
  display: flex;
  width: 100%;
  margin-top: 15px;
  font-size: 15px;
  overflow-x: hidden;
}

#clock {
  margin: 0;
  padding: 0;
  margin-left: 14px;
}

#contact-info {
  background-color: blue;
  width: 100%;
  height: 200px;
}
