#message {
  list-style:none;
  color: #d5dadf;
}

.message-content-and-info {
  width: 95%;
  display: flex;
  margin-left: 33px;

}
#message-date {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date-ruler-right {
  border: 1px solid#2B2A2F;
  height: 0px;
  flex-grow: 1;
  margin-bottom: 20px;

}

#date-ruler-left {
  border: 1px solid #2B2A2F;
  height: 0px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.date-box {
  padding: 9px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 20px;
  border: 1px solid #2B2A2F;;
  border-radius: 100px;
  font-size: 13px;
  /* z-index: 1; */
  /* background-color: blue; */
  /* transform: translateY(100px); */
}

#message-user-info {
  font-weight: bold;
  /* font-size: 15px; */
  margin-bottom: 1px;
}

#message-time {
  font-weight:lighter;
  color: #918f9b;
  font-size: 12px;
}

#messages-list ul {
  /* overflow: none; */
  /* position: sticky; */
  /* bottom: 0; */
  padding: 0;
  margin: 0;
  /* text-align: center; */
}

#message-content {
  margin-top: 3px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 14px;
  color: #c1c0c8;
}

#bottom-buffer{
  height: 100px;
}

.message-pic{
  border: 0px solid blue;
  border-radius: 8%;
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  margin-right: 10px;
  margin-left: 10px;
}
