header {
  display:flex;
  justify-content: space-between;
  margin-top: 36px;
  padding-bottom:20px;
  height: 75px;
  align-items: center;
  margin-bottom: -25px;
}

body {
  font-family:Slack-Lato,Slack-Fractions,appleLogo,sans-serif ;
}

#right-column {
  display: flex;
  font-weight: bolder;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
  font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
  font-size: 13px;
  width: 33%;
}

#right-column h4 {
  margin: 0;
  margin-top: 4px;
  height: 19px;
  /* letter-spacing: .5px; */
}

#right-column a {
  font-weight: 400;
  color: hsl(206, 80%, 35%);
  text-decoration: none;
  font-size: 14px;
}

#right-column-text {
  margin-right: 20px;
  height: 100%;
}

#left-col {
  width: 33%;
}

#slick-icon {
  display: flex;
  width: 33%;
  justify-content: center;
}

#new {
  font-weight: lighter;
  color: grey;
}
/* form */

#sign-up-form {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
}

#sign-up-form h1 {
  font-family: Slack-,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -.75px;
  line-height: 48px;
  margin-bottom: 10px;
  font-variant-ligatures: common-ligatures;
  text-align: center;
  /* letter-spacing: -.75px; */
}

#suave {
  color: #4a154b;
}

#sign-up-form h6 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0px;
}

#rad {
  font-weight: 400;
}

#demo-div {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  height: 50px;
}

#demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 57%; */
  width: 380px;
  /* height: 75%; */
  height: 45px;
  font-weight: normal;
  background-color: #fff;
  border: 2px solid #4285f4;
  color: #4285f4;
  font-size: 16px;
  border-radius: 3px;
}

#freds-face {
  border-radius: 100%;
  margin: 16px;
}

#or {
  display: flex;
  font-size: 13px;
  font-weight:bolder;
  align-items: center;
  margin-bottom: 10px;
  font-weight: lighter;
}

#or hr{
  margin: 20px;
  width: 159px;
  border-style: solid;
  color: lightgrey;
}

form {
  display: flex;
  flex-direction:column;
  align-items: left;
  width: 376px;
  height: 100%;
  justify-content: space-between;
}

form label {
  font-size: 15px;
  font-weight: 700;
  font-stretch: -.75;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #1d1c1d;
}

form input {
  font-size: 18px;
  /* line-height: 1.3333333; */
  line-height: 1.46666667;
  height: 38px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 3px;
  /* text-align:center; */
}

#form-button {
  margin-top: 30px;
  height: 44px;
  border-radius: 4px;
  background-color: #4A154B;
  color: white;
  font-weight:400;
}
